[Unit]
Description=Licode Erizo Controller Running Node.js
Requires=rabbitmq-server.service 
After=network.target rabbitmq-server.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash "${LICODE_HOME}/scripts/start-erizo-controller.sh"
Restart=always
RestartSec=10s                       
StandardOutput=syslog               
StandardError=syslog                
SyslogIdentifier=licode-erizo-controller
User=nobody
Group=nogroup
Environment=LICODE_HOME=/opt/licode